@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family: 'Roboto', Arial, sans-serif;
	color:#363636;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:900;
	margin:1em 0 0.5em;
	color:#696969;
}

h1 { font-size:3em;}
h2 { font-size:2.2em;}
h3 { font-size:2em;}
h4 { font-size:1.6em;}
h5 { font-size:1.4em;}
h6 { font-size:1.2em;}

p {
	margin:0.3em 0 0.5em;
}
img {
	vertical-align:bottom;
	max-width:100%;
}

a:link,
a:visited {
	text-decoration:none;
	color:#e84e1b;
}
a:hover {
	color:#f39200;
}
a:active {
	color:#696969;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#headtop {
	background: #363636;
	overflow: hidden;
	border-bottom: 4px solid #ebebeb;
}

#contact {
	float: left;
	font-size: 15px;
}
#contact p {
	float: left;
	margin: 0 30px 0 0;
	padding: 4px;
	color: #b1b1b1;
}

#contact p i {
	color: #5a5a5a;
}


#social {
	float: right;
}
#social a {
	display: block;
	padding: 4px;
	float: left;
	font-size: 16px;	
}

#head {
	clear: both;
}

#logo {
	float: left;
}

#logo img {
	height: 30px;
	padding: 20px 0;
}

#toggle {
	float: right;
	padding: 20px 0;
	color: #696969;
	font-size: 30px;
	display: none;
}

#nav {
	float: right;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav ul li {
	float: left;
}
#nav ul li a {
	display: block;
	padding: 20px;
	line-height: 30px;
}
#nav ul li a:link,
#nav ul li a:visited {
	text-transform: uppercase;
	color: #848484;
	font-weight: 700;
	border-bottom: 4px solid #FFF;
}
#nav ul li a:hover {
	background: #ebebeb;
	border-bottom: 4px solid #ed4c03;
}
#nav ul li a:active {
	color: #ed4c03;
}

#hero {
	background-image: url(img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	
}
#heroText {
	padding: 115px 0;
}
#heroText h1 {
	margin: 0 0 30px 0;
	text-align: center;
	color: #FFF;
}
#heroText p {
	text-align: center;
	color: #FFF;
	
}
.more {
	margin: 40px auto;
	width: 150px;
}
.more a:link,
.more a:visited {
	display: block;
	border: 1px solid #FFF;
	border-radius: 5px;
	color: #FFF;
	padding: 15px 20px;
	text-transform: uppercase;
	text-align: center;
}
.more a:hover {
	background: rgba(244,166,98,0.60);
	font-weight: 700;
	border: 1px solid #FFF
}
.more a:active {
	background: rgba(249,191,107,0.80);
}

#promo {
	background: #ebebeb;
	padding: 60px 0;
	text-align: center;
	color:#696969;
	overflow: hidden;
}
#promo p {
	margin: 20px 0 100px;
}

.product {
	float: left;
	width: 225px;
	margin-right: 20px;
	background: #FFF;
	padding: 20px 0;
	position: relative;
}
.product:nth-of-type(4n) {
	margin-right: 0;
}
.product:hover {
	margin-top: -10px;
	-webkit-transition: 0.3s;
}

#promo .product p {
	padding: 10px 10px 0;
	margin: 10px 0 20px 0;
}

.learnMore {
	width: 120px;
	margin: 0 auto 10px;
	
}
.learnMore a:link,
.learnMore a:visited {
	display: block;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #ed4c03;
	padding: 10px;
	color: #ed4c03;
	border-radius: 5px;
}
.learnMore a:hover {
	background: #ed4c03;
	color: #FFF;
	 
}
.learnMore a:active {
	color: #696969;
}
.icon {
	position: absolute;
	top: 0;
	margin-top: -25px;
	left: 50%;
	margin-left: -25px;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background: #ccc;
	color: #333;
}
.icon i {
	line-height: 50px;
	text-align: center;
	vertical-align: center;
	font-size: 22px;
}

#about {
	padding: 60px 0; 
	background-image: url(img/about.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/*ABOUT US*/

.about {
	
	background-image: url(img/about.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	
}

#abtext {
	width: 100%;
	margin: 0 auto;
	background: rgba(0,0,0,0.50);
	color: #FFF;
	padding: 20px;
}
#abtext h1 {
	font-size: 22px;
	font-weight: 700;
	color: #FFF;
	text-align: justify;
}
#abtext p {
	margin: 30px 0;
}

#whyus {
	overflow: hidden;
	background: #ebebeb;
}

#levi {
	float: left;
	width: 440px;
	padding: 10px;
	margin-right: 40px;
}
#desni {
	float: right;
	width: 440px;
	padding: 10px;
}

h5 {
	color: #ed4c03;
}

/* END OF ABOUT US*/

#aboutText {
	width: 500px;
	padding: 30px 10px;
	background: rgba(0,0,0,0.30);
	color: #FFF;
}

#aboutText .learnMore {
	margin: 20px 0 10px;
}
#aboutText h3 {
	color: #FFF;
}
#aboutText a {
	color: #FFF;
	border: 1px solid #FFF;
}

#partners {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
}

.grid {
	overflow: hidden;
	width: 960px;
	height: 150px;
	margin: 15px auto;
	position: relative;
}

.fotoBox {
	float: left;
	width: 180px;
	height: 150px;
	margin-right: 15px;
	text-align: center;
	line-height: 150px;
	vertical-align: middle;
	background: #CCC;
	position: relative;
}
.fotoBox:nth-of-type(5n) {
	margin-right: 0;
}

.prev {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background: #696969;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: 1px;
	text-align: center;
	line-height: 30px;
	vertical-align: center;
	font-size: 20px;
 
}
.next {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background: #696969;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 1px;
	text-align: center;
	line-height: 30px;
	vertical-align: center;
	font-size: 20px;
}

#footer {
	background: #363636;
}
.footerText {
	width: 200px;
	margin: 30px 15px 15px 0;
	float: left;
	color: #CCC;	
}
.footerText h4 {
	color: #CCC;
}

#footerLogo img {
	height: 30px;
}
#footerLogo {
	float: right;
	margin-top: 70px;
}
#copyright {
	clear: both;
	border-top: 1px solid #CCC;
	color: #BBB;
}

#copyright p {
	margin-top: 15px;
	font-size: 11px;
	float: left;
}
#copyright .learnMore {
	float: right;
	margin: 30px 0;
}
#copyright .learnMore a {
	border: 1px solid #CCC;
	color: #CCC;
}

/*medija upiti*/

@media screen and (min-width:768px) and (max-width:1023px) {
	.wrapper {
		width: 700px;
	}
	
	.product {
		margin-right: 12px;
		width: 166px;
		padding: 10px 0;
	}
	.product h3 {
		font-size: 1.8em;
	}
	
	.grid {
		width: 700px;
		height: 140px;
	}
	
	.fotoBox {
		margin-right: 12px;
		width: 166px;
		height: 140px;
	}
	.fotoBox:nth-of-type(4n) {
	margin-right: 0;
}
	
}

@media screen and (max-width:767px) {
	.wrapper {
		width: 90%;
	}
	
	#contact p {
		float: none;
	}
	#social a {
		line-height: 52px;
		vertical-align: center;
		font-size: 18px;
		padding: 0 4px;
	}
	
	#logo img {
		height: 36px;
	}
	
	#nav {
		float: none;
		clear: both;
		display: none;
	}
	#nav ul li {
		float: none;
	}
	#nav ul li {
		text-align: center;
	}
	#toggle {
		display: block;
	}
	
	#heroText {
		padding: 100px 0;
	}
	#promo {
		padding: 50px 0;
	}
	
	#promo h2 {
		margin-top: 10px;
	}
	
	#promo p {
		margin: 20px 0 80px;
	}
	
	.product {
		float: none;
		margin: 30px auto;
		width: 240px;
	}
	.product:nth-of-type(4n) {
		margin-right: auto;
	}
	
	#about {
		padding: 0;
	}
	#aboutText {
		width: 98%;
		padding: 2%;
	}
	
	.grid {
		width: 90%;
		height: 200px;
	}
	
	.fotoBox {
		float: none;
		width: 320px;
		height: 200px;
		margin: 0 auto;
		line-height: 200px;
	}
	
	.footerText {
		float: none;
		margin: 20px auto;
		width: 90%;
		text-align: center;
	}
	
	#footerLogo {
		float: none;
		height: 40px;
		width: 115px;
		padding: 10px;
		margin: 0 auto;
	}
	
	#copyright .learnMore {
		float: none;
		margin: 10px auto 15px;
	}
	
	#copyright p {
		float: none;
		margin: 10px auto 5px;
		padding: 0;
		text-align: center;
	}
	
}












