@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family: 'Roboto', Arial, sans-serif;
	color:#363636;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:900;
	margin:1em 0 0.5em;
	color:#696969;
}

h1 { font-size:3em;}
h2 { font-size:2.2em;}
h3 { font-size:2em;}
h4 { font-size:1.6em;}
h5 { font-size:1.4em;}
h6 { font-size:1.2em;}

p {
	margin:0.3em 0 0.5em;
}
img {
	vertical-align:bottom;
	max-width:100%;
}

a:link,
a:visited {
	text-decoration:none;
	color:#e84e1b;
}
a:hover {
	color:#f39200;
}
a:active {
	color:#696969;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#headtop {
	background: #363636;
	overflow: hidden;
	border-bottom: 4px solid #ebebeb;
}

#contact {
	float: left;
	font-size: 15px;
}
#contact p {
	float: left;
	margin: 0 30px 0 0;
	padding: 4px;
	color: #b1b1b1;
}

#contact p i {
	color: #5a5a5a;
}


#social {
	float: right;
}
#social a {
	display: block;
	padding: 4px;
	float: left;
	font-size: 16px;	
}

#head {
	clear: both;
}

#logo {
	float: left;
}

#logo img {
	height: 30px;
	padding: 20px 0;
}

#toggle {
	float: right;
	padding: 20px 0;
	color: #696969;
	font-size: 30px;
	display: none;
}

#nav {
	float: right;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav ul li {
	float: left;
}
#nav ul li a {
	display: block;
	padding: 20px;
	line-height: 30px;
}
#nav ul li a:link,
#nav ul li a:visited {
	text-transform: uppercase;
	color: #848484;
	font-weight: 700;
	border-bottom: 4px solid #FFF;
}
#nav ul li a:hover {
	background: #ebebeb;
	border-bottom: 4px solid #ed4c03;
}
#nav ul li a:active {
	color: #ed4c03;
}

#cpage {
	background: #ebebeb;
}


/* Style inputs with type="text", select elements and textareas */
label {
	font-weight: 700;
	text-transform: uppercase;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #ed4c03;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	text-align: center;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
#subm {
	width: 82px;
	margin: 0 auto;
}

#forma {
    border-radius: 5px;
    background: #363636;
	margin: 30px auto;
	overflow: hidden;
}
h1 {
	margin: 20px 0;
	color: #ed4c03;
}
#main p:nth-of-type(2) {
	margin-bottom: 30px;
}
#main {
	width: 590px;
	padding: 20px;
	color: #ed4c03;
	float: left;
}

#info {
	width: 280px;
	padding: 20px;
	margin: 10px 10px 10px 0;
	float: right;
	background: #ed4c03;
	height: 610px;
	color: #363636;
}

#info p:nth-of-type(2n+1) {
	font-weight: 700;
	margin-top: 30px;
}

#footer {
	background: #363636;
}
.footerText {
	width: 200px;
	margin: 30px 15px 15px 0;
	float: left;
	color: #CCC;	
}
.footerText h4 {
	color: #CCC;
}

#footerLogo img {
	height: 30px;
}
#footerLogo {
	float: right;
	margin-top: 70px;
}
#copyright {
	clear: both;
	border-top: 1px solid #CCC;
	color: #BBB;
}

#copyright p {
	margin-top: 15px;
	font-size: 11px;
	float: left;
}

.learnMore {
	width: 120px;
	margin: 0 auto 10px;
	
}
.learnMore a:link,
.learnMore a:visited {
	display: block;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #ed4c03;
	padding: 10px;
	color: #ed4c03;
	border-radius: 5px;
}
.learnMore a:hover {
	background: #ed4c03;
	color: #FFF;
	 
}
.learnMore a:active {
	color: #696969;
}

#copyright .learnMore {
	float: right;
	margin: 30px 0;
}
#copyright .learnMore a {
	border: 1px solid #CCC;
	color: #CCC;
}



/*medija upiti*/

@media screen and (min-width:768px) and (max-width:1023px) {
	.wrapper {
		width: 700px;
	}
	
	#main {
		width: 400px;
	}
	#info {
		width: 210px;
		height: 634px;
	}
	
}

@media screen and (max-width:767px) {
	.wrapper {
		width: 100%;
	}
	
	#contact p {
		float: none;
	}
	#social a {
		line-height: 52px;
		vertical-align: center;
		font-size: 18px;
		padding: 0 8px 0 0;
	}
	
	#logo img {
		height: 36px;
		padding-left: 10px;
	}
	
	#nav {
		float: none;
		clear: both;
		display: none;
	}
	#nav ul li {
		float: none;
	}
	#nav ul li {
		text-align: center;
	}
	#toggle {
		display: block;
		margin-right: 10px;
	}
	
	#main {
		width: 90%;
		padding: 5%;
	}
	
	#info {
		width: 80%;
		padding: 5% 5% 40px 5%;
		margin: 5%;
		height: auto;
	}
	
	#info p {
		text-align: center;
	}
	
	.footerText {
		float: none;
		margin: 20px auto;
		width: 90%;
		text-align: center;
	}
	
	#footerLogo {
		float: none;
		height: 40px;
		width: 115px;
		padding: 10px;
		margin: 0 auto;
	}
	
	#copyright .learnMore {
		float: none;
		margin: 10px auto 15px;
	}
	
	#copyright p {
		float: none;
		margin: 10px auto 5px;
		padding: 0;
		text-align: center;
	}
	
}












